.cancel-button {
  transition: all 0.0s ease;
}

.cancel-button:hover {
  border: 2px solid #1976d2; /* Change this color to your preferred hover color */
  background-color: white; /* Keeps the background white on hover */
}
