.nav{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    position: relative;
}

.logo-img{
    padding: 14px 80px;
}

@media (max-width: 768px){
    .logo-img{
        padding: 14px 40px;
    }
}