.UserTableModal .modal-dialog {
    max-width: 80%; /* Set the width to 135% */
    width: 100%; /* Ensure it remains responsive */
    /* text-align: center; */
}
.RestaurantDetails-UserDetailsModal{
    display: flex;
}
.UserDetailsModar-header {
    padding: 10px;
}
.dropdown-menu-month {
    position: absolute;
    top: 22%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
  }
  .dropdown-menu-year {
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
  }
  
